@using PAW


@{
    ViewData["Title"] = "Index";
}
<style>
    .select,
    #locale {
        width: 100%;
    }

    .stroke-transparent { /* nu folosesc fa-premium  */
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
    }

    .fa-star {
        color: white;
    }

    td:not(:last-child):hover {
        background-color: mediumpurple;
    }

    table.table-hover tbody tr:hover {
        background-color: grey;
    }

    .btn:hover {
        background-color: grey;
    }

    

    .like {
        margin-right: 10px;
    }

   


    .block {
        display: block;
        width: 100%;
        border: none;
        background-color: #4CAF50;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
</style>


@*Another page for favourites so that i dont have to reload the table?*@
<table id="Songs" class="table table-bordered dt-responsive nowrap table-hover " style="color:white" width="100%">
    <thead>
        <tr>
            <th>Song Name</th>
            <th>Singer</th>
            <th>Genre</th>
            <th>Favourite</th>
            <th>Player</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Devil In I</td>
            <td>Slipknot</td>
            <td>Rock</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>
           
            <td >
                <div class="d-flex justify-content-around">
                    <audio controls="controls">
                        <source src="../Assets/RickAstley_NeverGonnaGiveYouUp.mp3" type="audio/mpeg" />
                    </audio>
                    </div>
            </td>
        </tr>
        <tr>
            <td>Waste It On Me</td>
            <td>Steve Aoki, BTS</td>
            <td>Pop</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Godzilla</td>
            <td>Dax</td>
            <td>Rap</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Astronaut In The Ocean</td>
            <td>Masked Wolf</td>
            <td>Rap</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Paper Rings</td>
            <td>Taylor Swift</td>
            <td>Pop</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Kiss And Make Up</td>
            <td>Dua Lipa, Blackpink</td>
            <td>Pop</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Behind Blue Eyes</td>
            <td>Limp Bizkit</td>
            <td>Rock</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        <tr>
            <td>Boulevard Of Broken Dreams</td>
            <td>Green Day</td>
            <td>Rock</td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" /><i id="icon" class="fa fa-star stroke-transparent"></i>
                </div>
            </td>

            <td >
                <button class="button block" />
            </td>
        </tr>
        
    </tbody>

</table>

<script>


    function myFunction() {
        var element = document.getElementById("icon");
        element.classList.toggle("stroke-transparent");
    }


</script>