@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:snow">Welcome to my music streaming website</h1>
    <p>In order to continue, please login (In development)</p>

    <br />
    <br />
    <br />

    <img src="/css/Cool.gif" alt="Equalzier" style="border-radius: 100px">
</div>
