
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100% !important;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .custom-map-control-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
    }

        .custom-map-control-button:hover {
            background: #ebebeb;
        }
</style>
<head>
    <title>Geolocation</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <script src="/index.js"></script>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <div style="opacity:1 !important; width: 600px !important; height: 600px !important;" id="map" class="map"></div>
                </td>
                <td>
                    <video width="400" height="300" controls>
                        <source src="../Assets/Obi-Wan - 'Hello there.'.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjTHgwd92BFKlAZ5k2D1-PrudD1P41CVo&callback=initMap&v=weekly"
            async></script>

    
</body>
