@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Exercising Your EU Privacy Rights</p>
<body>
    <ul>
        <li>
            <p><strong>Data Access and Portability</strong></p>
            <ul>
                <li>You may be entitled to request copies of your personal information held by us. While a lot of the personal information you provide to us can be accessed in your account Settings, you may also be entitled to request copies of personal information you have provided to us in machine-readable format.</li>
            </ul>
        </li>
        <li>
            <p><strong>Change or Correct Data</strong></p>
            <ul>
                <li>Where you cannot update data yourself through an account, you have the right to ask us to correct, change, update or rectify your data.</li>
            </ul>
        </li>
        <li>
            <p><strong>Data Retention and Deletion</strong></p>
            <ul>
                <li><p>We generally retain data for as long as is necessary to provide services to you under your account or, for as long as is necessary to provide the Platform to you as a registered or unregistered user.</p></li>
                <li><p>You have the right to ask us to delete all or some of the personal data we hold about you. If you have an account, you can also delete your account through the Settings at any time as described below.</p></li>
                <li><p>We may need to retain some of your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (e.g. under applicable tax or commercial law or to prevent fraud and abuse and maintain and enhance security). Afterwards, we delete the data immediately, unless we need the data until the expiry of the statutory period of limitation for the purpose of providing evidence for civil law claims or because of statutory storage obligations (e.g. for accounting reasons).</p></li>
            </ul>
        </li>
      
    </ul>

</body>
