<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <style>
        p {
            width: 40px;
            height: 40px;
            background-color: red;
            position: relative;
            animation-name: example;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            opacity: 1 !important;
        }

        @@keyframes example {
            0% {
                background-color: red;
                left: 500px;
                top: 0px;
            }

            25% {
                background-color: yellow;
                left: 1500px;
                top: 0px;
            }

            100% {
                background-color: red;
                left: 500px;
                top: 0px;
            }
        }
    </style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P.A.W</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="background">
        <header>
            <nav style="background-color: transparent" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-menu box-shadow mb-3">
                <p></p>
                <div class="container-fluid">
                    <img src="~/css/Icon.png" alt="" style="width: 40px; height: 50px;" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">C.E.</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Songs" asp-action="Index">
                                        <i class="fas fa-music"></i>
                                        Albums
                                    </a>
                                </li>
                                  <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Wishlist" asp-action="Index">
                                    <i class="fas fa-star"></i>
                                    Wishlist
                                </a>
                              </li>
                                  <li class="nav-item">
                                      <a class="nav-link text-light" asp-area="" asp-controller="History" asp-action="Index">
                                          <i class="fas fa-history"></i>
                                          History
                                      </a>
                                  </li>
                               @*<li class="nav-item">
                               <a class="nav-link text-light" asp-area="" asp-controller="Quiz" asp-action="Index">
                                    <i class="fa fa-question"></i>
                                    Quiz
                                </a>
                            </li>*@
                            @if (!User.IsInRole("Admin"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Cart" asp-action="Index">Shopping Cart</a>
                                    </li>
                                    }
                                }
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Map and video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Form">Form</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>

        </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class=" footer text-muted">
            <div class="container">
                &copy; 2021 - P.A.W - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
