@using PAW.Model
@model Song
<style>
    .btn-info {
        height: 200px;
        width: 200px;
    }

    .modal-body {
        background-color: dimgrey;
    }

    .modal-header {
        background-color: dimgrey;
    }

    .modal-footer {
        background-color: dimgrey;
    }
</style>

<div class="row d-flex justify-content-between mt-3 mb-3 mr-auto">
    <h1 class="ml-3">Quizez</h1>
    <button class="btn" data-toggle="modal" data-target="#customerModal">New Quiz <i class="fa fa-question"></i></button>
</div>

@*@foreach (var quiz in Model.QuizViews)
{ 
<tr>
    <td>
        <audio controls="controls">
            <source src="@quiz." type="audio/mpeg" />
        </audio>
    </td>
    <td>@Html.DisplayFor(modelItem => quiz.Answer1)</td>
    <td>@Html.DisplayFor(modelItem => quiz.Answer2)</td>
</tr>


}*@
<div class="row">
    <div class="column">
        <button class="fa fa-headphones btn-info fa-6x" data-toggle="modal" data-target="#exampleModal">
        </button>
        <div class="desc ">Quiz 1</div>
    </div>
    <div class="column">
        <button class="fa fa-headphones btn-info fa-6x" data-toggle="modal" data-target="#exampleModal">
        </button>
        <div class="desc ">Quiz 2</div>
        </div>
    </div>










    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-around">
                        <audio controls="controls">
                            <source src="../Assets/RickAstley_NeverGonnaGiveYouUp.mp3" type="audio/mpeg" />
                        </audio>
                    </div>
                    <p>
                        <label><input type="radio" name="gender" value="T">Never Gonna Give You Up</label>
                        <label><input type="radio" name="gender" value="F">Wrong Answer</label>
                    </p>
                    <p class="d-flex justify-content-around"><input type="button" value="Get Value"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <form method="post" asp-controller="Quiz" asp-action="CreateQuiz"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-complete="modalFormComplete('#customerModal')"
          data-ajax-mode="replace"
          data-ajax-update="#customerBody">

        <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerCreateTitle" aria-hidden="true">
            <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content" style="max-width: 70%">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customerCreateTitle">Create a new entity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="customerBody">
                        <partial name="_NewCustomerPartial" model="new NewCustomerViewModel()" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
  

        

  

    <script>

        $(function () {
            $('#modal').modal('toggle');
        });


        $(document).ready(function () {
            $("input[type='button']").click(function () {
                var radioValue = $("input[name='gender']:checked").val();
                if (radioValue) {
                    if (radioValue.localeCompare("T"))
                        alert("Correct!");
                    else alert("Try Again!");
                }
            });
        });

        
    </script>
